<%- include('partials/header') -%>

<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">loser</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li><a class="dropdown-item" href="#">New project...</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </div>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="allTasks">
                    <li class="nav-item">
                        <a href="#" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">All tasks</span>
                        </a>
                    </li>
                    <li class="border-dark border-bottom">
                        <a href="#" class="nav-link px-0 align-middle ">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Completed tasks</span></a>
                    </li>

                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start border-dark border-bottom" id="projects">
                        <h6 class='text-secondary mt-3'>Projects:</h6>
                        <% todos.forEach( el => { %>
                                <li class='nav-item' data-id='<%=el._id%>'>
                                    <a href="#" class="nav-link align-middle px-0">
                                    <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline"><%= el.project %></span>
                                </a>
                                </li>
                        <% }) %>    
                </ul>
                        
                    
                   
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start border-dark border-bottom" id="projects">
                    <h6 class='text-secondary mt-3'>Days:</h6>
                    <% todos.forEach( el => { %>
                            <li class='nav-item' data-id='<%=el._id%>'>
                                <a href="#" class="nav-link align-middle px-0">
                                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline"><%= el.date %></span>
                            </a>
                            </li>
                    <% }) %>    
            </ul>
                </ul>
                <hr>
                
            </div>
        </div>
        <div class="col py-3">
            <h1>[Insert project name] Tasks</h1>
    <ul>
    <% todos.forEach( el => { %>
            <li class='todoItem' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                <span class='del'> Delete </span>
            </li>
    <% }) %>    
    </ul>

    <h2><%= user.userName %> has <%= left %> things left to do.</h2>


    <form action="/todos/createTodo" method='POST'>
        <input type="text" placeholder="Project Name" name='projectItem'>
        <input type="text" placeholder="Task" name='todoItem'>
        <input type="date" id="start" name="deadline" value="2023-11-18" min="2023-11-18" max="2033-11-18"/>
        <input type="submit">
    </form>
        </div>
    </div>
</div>

    

    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>

    <%- include('partials/footer') -%>